CREATE TABLE IF NOT EXISTS public.staff (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    phone TEXT,
    role TEXT,
    salary_amount NUMERIC(10, 2) DEFAULT 0,
    salary_type TEXT DEFAULT 'Monthly', 
    balance NUMERIC(10, 2) DEFAULT 0,
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

CREATE TABLE IF NOT EXISTS public.staff_transactions (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    staff_id UUID REFERENCES public.staff(id) ON DELETE CASCADE,
    transaction_date DATE NOT NULL,
    type TEXT NOT NULL, 
    amount NUMERIC(10, 2) NOT NULL,
    remarks TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now())
);

ALTER TABLE public.staff ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.staff_transactions ENABLE ROW LEVEL SECURITY;

DO $do$
BEGIN
  IF NOT EXISTS (SELECT FROM pg_policies WHERE policyname = 'Allow all operations for authenticated users' AND tablename = 'staff') THEN
    CREATE POLICY "Allow all operations for authenticated users" ON public.staff FOR ALL USING (auth.role() = 'authenticated');
  END IF;
  IF NOT EXISTS (SELECT FROM pg_policies WHERE policyname = 'Allow all operations for authenticated users' AND tablename = 'staff_transactions') THEN
    CREATE POLICY "Allow all operations for authenticated users" ON public.staff_transactions FOR ALL USING (auth.role() = 'authenticated');
  END IF;
END
$do$;

CREATE OR REPLACE FUNCTION update_staff_balance()
RETURNS TRIGGER AS $$
BEGIN
    IF TG_OP = 'INSERT' THEN
        IF NEW.type = 'Salary Credit' THEN
            UPDATE public.staff SET balance = balance + NEW.amount WHERE id = NEW.staff_id;
        ELSE
            UPDATE public.staff SET balance = balance - NEW.amount WHERE id = NEW.staff_id;
        END IF;
    ELSIF TG_OP = 'DELETE' THEN
        IF OLD.type = 'Salary Credit' THEN
            UPDATE public.staff SET balance = balance - OLD.amount WHERE id = OLD.staff_id;
        ELSE
            UPDATE public.staff SET balance = balance + OLD.amount WHERE id = OLD.staff_id;
        END IF;
    END IF;
    RETURN NULL;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS update_staff_balance_trigger ON public.staff_transactions;
CREATE TRIGGER update_staff_balance_trigger
AFTER INSERT OR DELETE ON public.staff_transactions
FOR EACH ROW EXECUTE FUNCTION update_staff_balance();
